.breadcrumb {
    @apply flex place-items-center text-xs py-6 text-charcoal flex-wrap font-sans;

    &.is-light {
        @apply text-ghost;

        &::before {
            @apply border-ghost;
        }
    }

    &::before {
        content: "";
        @apply w-8 border-b border-charcoal opacity-60 mr-2;
    }

    li {
        @apply flex-shrink-0;
    }

    li:not(:last-of-type)::after {
        content: "/";
        opacity: .6;
        margin: 0 .25rem;
    }

    a {
        @apply no-underline #{!important};

        &:hover {
            @apply underline text-current #{!important};
        }

        &:not([aria-current="page"]) {
            @apply opacity-60;
        }
    }
}
