.woocommerce button.button,
.woocommerce-Button,
.woocommerce a.button,
.button {
    background: transparent;
    border: 1px solid theme("colors.charcoal.DEFAULT");
    @apply text-center rounded no-underline px-6 py-4 font-serif text-charcoal hover:bg-charcoal hover:text-ghost #{!important};

    &.large {
        @apply  text-lg px-8 py-6;
    }

    &.proceed {
        @apply bg-caribbean text-ghost #{!important} border-caribbean;
    }
}
