/***
* Titles
***/

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply leading-tight #{!important} font-bold;
}

h1 {
    @apply text-4xl xl:text-5xl font-bold;
}
h2 {
    @apply text-2xl;
}


.container .container {
    @apply px-0;
}

.page-content,
.page-content *:not(.woocommerce) {
    h1:not(:first-child),
    h2:not(:first-child),
    h3:not(:first-child) {
        @apply mt-8;
    }
}

.page-content > p:not(:first-child),
.page-content *:not(.woocommerce) p:not(:first-child) {
    @apply mt-4;
}

.page-hero {
    @apply h-64 md:h-80 bg-charcoal text-ghost relative;
    &--transparent {
        @apply bg-transparent;
    }
}
.page-hero__img {
    @apply absolute inset-0 w-full h-full object-cover opacity-50 #{!important};
}

body:not(.woocommerce-page) p a {
    @apply underline hover:text-caribbean focus:text-caribbean;
}
