.contact-form--footer {
    label {
        @apply text-xs uppercase font-bold tracking-wide mb-1 block;
    }
    textarea {
        @apply h-40;
    }

    input[type="submit"] {
        @apply font-bold text-base;
    } 
}

.cta-footer {
    @apply relative overflow-hidden;
    &::before {
        content: '';
        height: 150%;
        top: -25%;
        @apply w-2/3 md:w-1/2 lg:w-1/4 rounded-l-full bg-caribbean-light bg-opacity-40 absolute right-0 z-0;
    }
}
footer {
    @apply font-sans;
}
footer a {
    @apply hover:underline hover:text-caribbean;
}