$charcoal: theme("colors.charcoal.DEFAULT");
.site-header {
    @apply font-serif border-t-4 border-caribbean z-50 bg-white sticky;

    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid theme("colors.gray.200");

    &.is-sticky {
        @apply top-0;
        nav {
            @apply mt-0;
        }
        .logo-link {
            @apply h-16 p-0;
            a {
                @apply mt-0;
            }
        }
    }
}

.custom-logo {
    @apply h-32 w-auto;
}

.logo--mobile {
    @apply h-20 #{!important};
}

input[type="checkbox"]:checked + .main-navigation {
    @apply h-auto pointer-events-auto opacity-100;
}
.main-navigation {
    @apply opacity-0 pointer-events-none h-0
        lg:opacity-100 lg:pointer-events-auto lg:h-auto;

    a:not(.logo) {
        @apply block py-2
            hover:underline focus:underline;

        &[aria-current="page"] {
            @apply text-caribbean underline;
        }
    }

    .current-menu-parent > a,
    .current-product-ancestor > a {
        @apply text-caribbean underline;
    }

    .logo-link {
        @apply hidden lg:flex lg:place-items-center w-1/6 h-32 transform transition-all duration-200;
    }
    .logo-link a {
        @apply h-full w-full block py-0 
        lg:-mt-3;

        background: url("./assets/images/logo_mademoiselle-canelle--dark.svg") no-repeat center;
        background-size: contain;
        text-indent: -9999px;
    }
}

.menu-item-has-children {
    @apply relative flex flex-wrap place-items-center;
}

ul.sub-menu {
    @apply px-6 text-sm w-full opacity-0 pointer-events-none h-0 z-50
        lg:absolute lg:top-full lg:divide-y divide-gray-100 lg:rounded lg:bg-white lg:shadow lg:px-0 lg:w-96 lg:max-w-max;
}

input[type="checkbox"]:checked + .sub-menu,
.menu-item-has-children a:focus + input + .sub-menu,
.menu-item-has-children a:hover + input + .sub-menu {
    @apply opacity-100 pointer-events-auto h-auto;
}

@screen lg {
    .group:hover .sub-menu {
        @apply opacity-100 pointer-events-auto h-auto;
    }
}

ul.sub-menu .menu-item {
    @apply lg:px-6 lg:py-3;
}
