@media print {
    // header
    .offer-banner,
    label[for="toggle-main-navigation"],
    .icons-nav {
        @apply hidden;
    }

    .site-header {
        @apply border-none;
    }

    // breadcrumb
    .breadcrumb {
        @apply hidden;
    }

    // content
    h1 {
        @apply max-w-xl mx-auto;
    }
    .print-button {
        @apply hidden;
    }

    // footer
    .cta-footer,
    .site-footer nav {
        @apply hidden;
    }
}
