// alerts
.mc-alert {
    @apply px-6 py-4 flex justify-between items-center rounded shadow bg-ghost text-charcoal mb-6 border-b-2 border-charcoal;

    .button {
        @apply order-2;
    }

    &--error {
        @apply bg-red-500 border-red-800 text-ghost;
    }
    &--success {
        @apply bg-caribbean-light border-caribbean;
    }
    &--notice {
        @apply bg-blue-200 border-blue-600;
    }
}

.wc-product a.wc-product_add-to-cart-link {
    @apply absolute inset-0 hidden lg:flex flex-col place-items-center justify-center transition-all duration-300 text-ghost text-center font-serif font-bold bg-caribbean bg-opacity-60 opacity-0 hover:opacity-100 focus:opacity-100;
}

.cat-thumb {
    img {
        @apply w-full h-full object-cover rounded;
    }
}

.woocommerce .product-price {
    @apply flex place-items-center;
    &::before {
        content: "";
        @apply w-5 border-b border-gray-200 mr-2;
    }
}

.shop_table .product-price::before {
    display: none;
} 

.woocommerce .images,
div.images {
    @apply w-full #{!important};
}

.woocommerce-product-gallery__image {
    @apply h-full #{!important};
}

.woocommerce div.product form.cart {
    @apply mb-0;
}

.woocommerce div.product p.price,
.woocommerce div.product span.price,
[class^="woocommerce-variation-"] {
    @apply text-charcoal;
}

.woocommerce div.product .out-of-stock {
    @apply text-red-500 font-bold my-2;
}

.woocommerce div.product div.images {
    margin-bottom: 0;
}

.woocommerce .woocommerce-result-count {
    @apply pt-8 #{!important};
}

.woocommerce div.product form.cart table {
    border: none;
}

.shop-pagination ul {
    @apply flex justify-center space-x-1 mt-4 lg:mt-8;

    a, span.current {
        @apply block py-2 px-4 border rounded;
    }

    a:hover {
        @apply bg-gray-50;
    }

    span.current {
        @apply border-caribbean bg-caribbean text-white;
    }
}
